:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #999dec;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0 auto;
}
button:hover {
  border-color: #999dec;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  padding: 15px 40px;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
}

.right-nav {
	margin-left: auto;
}

li, ul, ol{
	list-style: none;
	padding-left: 0;
}

#logo {
  max-height: 25px;
  border-radius: 50%;
}

header {
  padding: 20px 0px;
  font-size: larger;
  font-weight: 600;
} 

input, textarea{
	width: 60%;
	background: #e0dede;
	justify-content: center;
	display: flex;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	color: black;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
